body { font-family: sans-serif; }
a { text-decoration: none }
a:hover { text-decoration: underline }
h1 { font: 170% sans-serif }
h2 { font: 140% sans-serif }
h3 { font: 120% sans-serif }
dt { font-weight: bold; }
h1, h2, h3, h1 a, h2 a, h3 a { color: #005A9C; }
table { border-collapse: collapse; }
td { border: 1px solid #999; padding: 3px }
dl p { margin-top: 0; }
ol { margin-bottom: 1em; }
